<div class="big-section" style="background-image: url('/assets/img/note.jpeg');">
	<div class="row flex-column flex-center justify-content-center">
	    <div class="col-lg-6 left-side">
	      <form class="animated zoomIn" ng-submit="register(user)">
	      	<div class="card login-form">
	      		<h1 align="center">New Note</h1>
	      		<div class="md-form">
				    <i class="fa fa-envelope prefix"></i>
				    <input type="text" id="form2" class="form-control" ng-model="note.email">
				    <label for="form2">Title</label>
				</div>

				<div class="md-form">
				    <i class="fa fa-envelope prefix"></i>
				    <input type="text" id="form2" class="form-control" ng-model="note.subject">
				    <label for="form2">Subject</label>
				</div>

				 <div class="md-form" style="margin: 4%">
	                <textarea type="text" id="form76" class="md-textarea" ng-model="note.content"></textarea>
	                <label for="form76">Body</label>
	            </div>

				<div align="center">
					<button type="submit" class="btn btn-unique btn-md animated rollIn">Add</button>
				</div>
	      	</div>
	      </form>
	    	

	    </div>
	  </div>
</div>