<!DOCTYPE html>
<html ng-app="antApp">
	<head>
		<meta charset="utf-8">
		<title>Ant Hack | Fire Fuse</title>
		<!-- css libraries -->
		<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
		<link rel="stylesheet" type="text/css" href="../assets/css/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../assets/css/flat-ui.min.css">
	</head>
	<body>
		<link rel="shortcut icon" href="../assets/img/favicon.ico"> <!-- flat-ui test (can be deleted) -->

		<h1>ViewNote</h1>
		<ui-view> </ui-view>

		<!-- scripts -->

		<!--angular script-->
		<script type="text/javascript" src="../assets/angular-1.5.8/angular.min.js"></script>
		<!--angular routing script-->
		<script type="text/javascript" src="../assets/angular-ui-router/release/angular-ui-router.min.js"></script>
		<script type="text/javascript" src="../assets/js/app.js"></script>
		<script type="text/javascript" src="../assets/js/controller.js"></script>
		<!-- flat-ui  -->
		<script src="../assets/flat-ui/jquery.min.js"></script>

		<script src="../assets/flat-ui/flat-ui.min.js"></script>
		<script src="../assets/flat-ui/video.js"></script>


	</body>
</html>
