<div class="photo-view" style="background-image: url('/assets/img/camera.jpeg');">
	<div class="row" style="padding: 5%">
		<div class="col-lg-3 heg">
			<div class="card photo">
			    <!--Card image-->
			    <img class="" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg" width="400px" height="200px" alt="Card image cap">
			    <!--/.Card image-->

			    <!--Card content-->
			    <div class="card-block">
			        <!--Title-->
			        <h4 class="card-title">Card title</h4>
			        <!--Text-->
			        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			        <a href="#" class="btn btn-primary">Button</a>
			    </div>
			    <!--/.Card content-->

			</div>
		</div>
		<div class="col-lg-3 heg">
			<div class="card photo">
			    <!--Card image-->
			    <img class="" src="https://images.unsplash.com/photo-1446858173142-82ce60cd3d28?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=5624a0a2b37e0c101a84be4be92b794c" width="400px" height="200px" alt="Card image cap">
			    <!--/.Card image-->

			    <!--Card content-->
			    <div class="card-block">
			        <!--Title-->
			        <h4 class="card-title">Card title</h4>
			        <!--Text-->
			        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			        <a href="#" class="btn btn-primary">Button</a>
			    </div>
			    <!--/.Card content-->

			</div>
		</div>
	</div>
	
</div>