<div class="photo-view" style="background-image: url('/assets/img/banner2.jpeg');">
	<div class="row " ng-show="!isPhotos()">
		<div style="margin: 20%; font-size: 40px; color: white">
			<h2> Loading ... <img src="/assets/img/91.svg"></h2>
		</div>
	</div>
	<div class="row" style="padding: 5%" ng-show="isPhotos()">
		<div class="col-lg-4 heg" ng-repeat="photo in allPhotos">
			<div class="card photo">
			    <!--Card image-->
			   
			    <img class="" src="{{photo.urls.full}}" width="400px" height="200px" alt="Card image cap">
			    <!--/.Card image-->

			    <!--Card content-->
			    <div class="card-block">
			        <!--Title-->
			        <h4 class="card-title">by {{photo.user.name}} - {{photo.likes}} Likes</h4>
			        <h4 class="card-title"></h4>
			    </div>
			    <!--/.Card content-->
			</div>
		</div>
		
	</div>	
</div>