<div class="big-section" style="background-image: url('/assets/img/banner2.jpeg');">
	 <div class="row flex-column flex-center">
	    <div class="col-lg-6 left-side">
	     	<div>
	     		<h1 class="left-side-text animated fadeIn">
	     			<blockquote>And for the record, I'm super impressed by the stellar work you guys are doing  <small> - Mr. Abiola 2017</small></blockquote>
	     			Fire Fuse Hackathon.
	     			Ant, 	
	     			We Rock.
	     		</h1>
	     		<button type="button" class="btn btn-unique btn-lg animated infinite pulse">Check Out Our Images</button>
	     	</div>
	    </div>
	    <div class="col-lg-6 right-side">
	      <form class="animated zoomIn" ng-submit="register(user)">
	      	<div class="card login-form">
	      		<h1 align="center">Join</h1>
	      		<div class="flex-center flex-column" ng-show="showloader">
	      			<img src="/assets/img/91.svg">
	      		</div>
	      		<div class="md-form" ng-hide="showloader">
				    <i class="fa fa-envelope prefix"></i>
				    <input type="email" id="form2" class="form-control" ng-model="user.email">
				    <label for="form2">Email</label>
				</div>

				<div class="md-form" ng-hide="showloader">
				    <i class="fa fa-envelope prefix"></i>
				    <input type="text" id="form2" class="form-control" ng-model="user.phone">
				    <label for="form2">Phone Number</label>
				</div>

				<div class="md-form" ng-hide="showloader">
				    <i class="fa fa-envelope prefix"></i>
				    <input type="password" id="form2" class="form-control" ng-model="user.password">
				    <label for="form2">Password</label>
				</div>

				<div align="center" ng-hide="showloader">
					<button type="submit" class="btn btn-unique btn-md animated rollIn">Join</button>
				</div>
	      	</div>
	      </form>
	    	

	    </div>
	  </div>
</div>